// 定义预计跟元素的fontSize 已 iPhone 6、7、8 为设计图的标准
$rootFontSize : 375 / 10;

// 定义一个函数，把像素转换为函数
@function px2rem($px){
    @return $px / $rootFontSize + rem ;
}
//文字大小
$infoSize: px2rem(14);

$minInfoSize: px2rem(12);
$radiusSize: px2rem(6);
$marginSize: px2rem(8);
$titleSize : px2rem(14);

$checkSize: px2rem(18);
$listGoodsImgSize: px2rem(100);
// statusBar 的高度
$statusBarHeight: px2rem(22);

