// 引入样式
@import './dimens.scss';
@import './reset.scss';
@import './colors.scss';

// 文本两行显示类
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.z-index-max {
  z-index: 9999;
}
.z-index-2 {
  z-index: 2;
}
//三角符号 标签 通用方式
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: px2rem(8) solid $mainColor;
  border-left: px2rem(6) solid transparent;// 左右两边透明色
  border-right: px2rem(6) solid transparent;
  
}





